<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	 http://www.springframework.org/schema/beans/spring-beans.xsd">
	<bean id="institute" class="com.spring.seven.ObjectCollection.AmeerpetTechnologiesBean"> 
		<property name="studentNames">
			<list>
				<value>anu</value>
				<value>sree</value>
				<value>teju</value>
				<value>chandu</value>
			</list>
			
		</property>
	</bean>
</beans>